.Carrousel2Card{
    width: 230px;
    padding: 10px;
    background-color: #fff;
    position: relative;
    border-radius: 5px;
}

.img-article{
    width: 230px;
}

.title-article{
    color: blue;
    text-transform: uppercase;
    font-weight: 500;
    width: 60%;
    margin: auto 0;
    font-size: 1rem;
}

.text-article{
    margin: 5px auto 17px auto;
    font-size: 0.8rem;
}

.button-article{
    position: absolute;
    bottom: -15px;
    left: 65px;
    background-image: url('../../../images/article/artigos-ctaLeiaMais.png');
    background-repeat: no-repeat;
    background-size: 120px 30px ;
    height: 30px;
    width: 120px;
}
