.home-conteiner{
    background-color: rgb(226, 224, 224);
}

.content-container{
    width: 1000px;
    margin: auto;
    box-shadow: 0px 0px 35px 0px rgb(129, 129, 129);
}

.nav-logo{
    height: 46px;
    margin-left: 10px;
}

.nav-container{
    background-color: #fff;
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}
    
.body-container{
    width: 1000px;
    margin: auto;
}

.navigation-menu{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.link{
    text-decoration: none;
    font-family: "Roboto", Sans-serif;
    color: gray;
    font-weight: 600;
}

.selected-link{
    color: blue
}

.not-selected-link{
    color:pink
}




